# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Dear ImGui Sample.iml
/contentModel.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
